fastapi
uvicorn[standard]
sqlalchemy
mysqlclient
python-dotenv
pydantic-settings
email-validator
alembic
python-jose[cryptography]
passlib[bcrypt]
openai
redis
python-socketio
aioredis
python-engineio
